<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Synthetic Genome Builder {% endblock head_title %}</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="../static/index.css"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>

</head>
<body style ="background-image: url('https://i.ytimg.com/vi/vkb0L-JvXNQ/maxresdefault.jpg')">
{% include "header.html" %}
<div class="container">
{% block content %} {% endblock %}
</div>
</body>
</html>