{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 style="color: whitesmoke">Bioinformatics Cheat Sheet</h2>
  <table class="table" style="color: white">
    <thead>
      <tr>
        <th>Term</th>
        <th>Definition</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nucleotide</td>
        <td>A compound consisting of a nucleotide linked to a phosphate group. Nucleotides form the basic structural
            unit of nucleic acids such as DNA.</td>
      </tr>
      <tr>
        <td>Amino Acid</td>
        <td>Organic compounds that make up proteins </td>
      </tr>
      <tr>
        <td>Genome</td>
        <td>An organism's complete set of genes</td>
      </tr>
    <tr>
        <td>Transcription</td>
        <td> First step of gene expression, in which a particular segment of DNA is copied into RNA (mRNA) by the enzyme
            RNA polymerase</td>
      </tr>
    <tr>
        <td>Translation</td>
        <td>Translation is the process in which cellular ribosomes create proteins</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}